/* Basic styling */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #1A2933;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */
body {
  overflow-y: hidden;
}

#titlebar {
  background: #030303;

  display: block;
  position: fixed;
  height: 32px;
  width: calc(100%);
  z-index: 2;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#main {
  height: 100%;
  overflow-y: auto;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar {
  color: #FFF;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  min-height: 30px;
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(9, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#switch-button {
  grid-column: 1;
}
#settings-button {
  grid-column: 2;
}
#prev-button {
  grid-column: 3;
}
#playpause-button {
  grid-column: 4;
}
#next-button {
  grid-column: 5;
}
#lock-button {
  grid-column: 6;
}
#min-button {
  grid-column: 7;
}
#max-button, #restore-button {
  grid-column: 8;
}
#close-button {
  grid-column: 9;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

.content {
  padding-left: 59px;
  padding-top: 32px;
  height: 100%;
  background-color: #f1f1f1;
}

.webview {
  height: 100%;
  transition: 0.2s;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}


.btn {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 10px;
  color: #fff;
  background-color: #0069d9;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #0b4165;
  border-color: #0b4165;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  padding-bottom: 30px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 100;
}

.center-of-page{
  height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.switch {
  position: relative;
  display: grid;
  width: 50px;
  height: 25px;
  margin: .3rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #368b4a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #368b4a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ml-uppercase{
  margin-right: 4rem!important;
  margin-left: 4rem!important;
}

/*dark mode popup*/

.popup {
  position: absolute;
  display: none;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1f1f;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 101;
}

.popup-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1e1e1e;;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.popup-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 0px 10px 0px 0px;
  cursor: pointer;
  height: 56px;
}

.popup-close:hover {
  color: #ccc;
  background-color: #181818;
}

.popup-body {
  padding: 10px;
}

.image-button {
  user-select: none;
  cursor: pointer;
}